body {
   background: #191919;
}
.bg-purple {
   background: #5916f3;
}
.text-purple {
   color: #5916f3;
}
.btn {
   border-radius: 20px 0px 20px 0px !important;
}
.text-gray {
   color: #9f9f9f;
}
.bg-gray{
   background: #9f9f9f;
}
.bg-tblack {
   background: #222;
}
.bg-tblack2 {
   background: #191919;
}

li {
   list-style-type: none;
}
a {
   text-decoration: none;
   color: #e2e2e2;
}


/* PAGES  */

.h-i-wrap {
   min-height: 70vh;
   /* background: linear-gradient(45deg, #131b23 40%, #ba3b46); */
   background: #191919;

}
.bg-red {
   background: #ba3b46;
}
.text-red {
   color: #ba3b46;
}
.bg-gray {
   background: #d3d3d3;
}
/* .bg-outline {
  background: #ba3b46;
} */

.buy img {
   width: 100px;
}
.bg-dark-blur {
   background: #0000002a;
}

.s-card-icon {
   background: #191919;
   color: #fff;
   border-radius: 50%;
   padding: 7px;
   display: flex;
   align-items: center;
}
.s-card-icon:nth-child(3) {
   background: #000;
}
.t-card .box{
   /* background: linear-gradient(45deg, #131b23 40%, #ba3b46); */
   /* background: #191919; */
   border-radius: 20px;
   
}
.t-card .box-img img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 2px solid #5916f3;
   /* transform: translateY(30px); */
}
.heading img {
   width: 70px;
   margin-top: 10px;
}
a.active {
   background: #ba3b46 !important;
}
.bg-red.text-light .t3 {
   color: #fff !important;
}
.r-card {
   border-radius: 20px 0px 20px 0px;
}
.r-card .head {
   border-bottom: 1px solid #9f9f9f;
   padding: 40px;
}
.r-card .head span {
   background: #5916f3;
   padding: 5px 13px;
   border-radius: 50%;
   box-shadow: 0px 0px 20px #5916f3;
}
.er .r-card .head span {
   padding: 5px 7px;
   font-size: 16px !important;
}
.r-card li {
   color: #767676;
}

.btn.bg-red:hover {
   background: #8d2c34 !important;
}
.btn.bg-tblack:hover {
   background: #1d2b3a !important;
}
.login {
   height: 100dvh;
   background: #131b23;
}
/* Loader  */
.loader {
   z-index: 100;
}
.loader img {
   width: 150px;
}
.solutions .s-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.float-btn {
   z-index: 80;
}
.slider .card {
   background: transparent;
   border: none;
   border-top: 3px solid #5916f3;
   border-radius: 20px;
   overflow: hidden;
}
.slider .text-group{
   border-bottom: 3px solid #5916f3;
   border-radius: 20px !important;
}
.slider .img-wrap {
   overflow: hidden;
}
.slider .img-wrap img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   border-radius: 20px 20px 0px 0px;
   transition: .5s ease;
}
.slider .img-wrap .img-overlay {
   background: #00000090;
   opacity: 0;
   transition: .5s ease;
}
.slider .img-wrap:hover .img-overlay {
   transition: .5s ease;
   opacity: 1;
}
.slider .img-wrap:hover img {
   transform: scale(1.1);
   transition: .5s ease;
}
.slider .swiper-pagination-bullet{
   background: #5916f3 ;
   width: 20px;
   border-radius: 0px;
   margin: 20px;
}