li {
   list-style-type: none;
}
a {
   text-decoration: none;
   color: #e2e2e2;
}

.h-i-wrap {
   /* min-height: 90vh; */
   background: linear-gradient(45deg, #131b23 40%, #ba3b46);
}
.bg-red {
   background: #ba3b46;
}
.text-red {
   color: #ba3b46;
}
.bg-gray {
   background: #d3d3d3;
}
/* .bg-outline {
  background: #ba3b46;
} */
.text-gray {
   color: #d3d3d3;
}
.buy img {
   width: 100px;
}
.bg-dark-blur {
   background: #0000002a;
}
.bg-tblack {
   background: #131b23;
}
.s-card-icon:nth-child(1) {
   background: #ba3b46;
   color: #fff;
   border-radius: 50%;
   padding: 7px;
   display: flex;
   align-items: center;
}
.s-card-icon:nth-child(3) {
   background: #000;
}
.t-card .box-img {
   background: linear-gradient(45deg, #131b23 40%, #ba3b46);
}
.t-card .box-img img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 2px solid #e2e2e2;
   transform: translateY(30px);
}
.heading img {
   width: 70px;
   margin-top: 10px;
}
a.active {
   background: #ba3b46 !important;
}
.bg-red.text-light .t3{
   color: #fff !important;
}