@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

#root body,
#root h1,
#root p,
#root span,
#root small,
#root button,
#root small,
#root li {
   font-family: "Nunito", sans-serif;
}

.heading .row {
   background: #ffffff69;
   backdrop-filter: blur(10px);
   color: #e2e2e2;
}
.blur-bg {
   background: #ffffff69;
   backdrop-filter: blur(10px);
}
.intro.bg1 {
   background: url("/public/tfit.avif") no-repeat;
   background-size: cover;
}
.intro.bg2 {
   background: url("/public/tfit2.avif") no-repeat;
   background-size: cover;
}
.intro.bg3 {
   background: url("/public/tfit3.avif") no-repeat;
   background-size: cover;
}
.intro .bg-wrap {
   backdrop-filter: blur(6px);
   background: #000000ac;
}
.intro .t {
   font-size: 70px;
   color: #e3e3e3;
}
.t2 {
   color: #e3e3e3;
}
.t3 {
   color: #ba3b46;
}
.bots .b-version.r {
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.bots .b-version.l {
   clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.b-version.r,
.b-version.l {
   display: flex;
   justify-content: center;
}

@media (max-width: 994px) {
   .intro .t {
      font-size: 40px;
   }
   .intro {
      /* background: url('/public/TTFgif.gif') no-repeat;
      background-size: cover; 
      background-position: center; */
   }
   .intro .row {
      min-height: 70vh;
   }
   .intro .bg-wrap {
      /* background: #02020294; */
      padding: 20px;
   }

   .intro-img {
      display: none !important;
   }
   .bots .b-version.r {
      clip-path: polygon(0 13%, 50% 0, 100% 13%, 100% 100%, 0% 100%);
      padding: 50px 10px;
   }
   .bots .b-version.l {
      clip-path: polygon(0 0, 100% 0%, 100% 88%, 51% 100%, 0 90%);
   }
}
